.DS_Store
*.swp
.idea/
.project
.settings/

build/
dist/
*.pyc
__pycache__/
*.egg-info/
*.so
*.o
*.obj
*.pyd

.env
*.env.*
*.session

.venv/
venv/
ENV/
env/

logs/
*.log
*.tmp
*.bak

*.sublime-project
*.sublime-workspace
.nbproject/
.ipynb_checkpoints/
.pycache/
.jupyterlab/

coverage.xml
.noseids
.coverage*
htmlcov/

doc/
docs/
.doctrees/
.build/

*.db
database.db
*.sqlite
*.sqlite3

screenshots/
thumbnails/

.git/